openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://rrn24.techchantier.com/tutor-finder/public/api'
paths:
  /api/applications:
    get:
      summary: 'List Applications'
      operationId: listApplications
      description: 'Get all applications made by the authenticated tutor.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      proposal_message: 'I am interested in teaching this subject...'
                      status: pending
                      gig:
                        id: 1
                        title: 'Need Math Tutor'
                        description: 'Looking for calculus tutor'
                      created_at: '2025-01-23 12:00:00'
                      updated_at: '2025-01-23 12:00:00'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        proposal_message: 'I am interested in teaching this subject...'
                        status: pending
                        gig:
                          id: 1
                          title: 'Need Math Tutor'
                          description: 'Looking for calculus tutor'
                        created_at: '2025-01-23 12:00:00'
                        updated_at: '2025-01-23 12:00:00'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        proposal_message:
                          type: string
                          example: 'I am interested in teaching this subject...'
                        status:
                          type: string
                          example: pending
                        gig:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            title:
                              type: string
                              example: 'Need Math Tutor'
                            description:
                              type: string
                              example: 'Looking for calculus tutor'
                        created_at:
                          type: string
                          example: '2025-01-23 12:00:00'
                        updated_at:
                          type: string
                          example: '2025-01-23 12:00:00'
      tags:
        - 'Application Management'
  '/api/applications/{id}':
    put:
      summary: 'Update Application Status'
      operationId: updateApplicationStatus
      description: 'Accept or reject an application (Learner only).'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    status: accepted
                    proposal_message: 'I am interested in teaching this subject...'
                    created_at: '2025-01-23 12:00:00'
                    updated_at: '2025-01-23 12:00:00'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      status:
                        type: string
                        example: accepted
                      proposal_message:
                        type: string
                        example: 'I am interested in teaching this subject...'
                      created_at:
                        type: string
                        example: '2025-01-23 12:00:00'
                      updated_at:
                        type: string
                        example: '2025-01-23 12:00:00'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthorized
                properties:
                  message:
                    type: string
                    example: Unauthorized
      tags:
        - 'Application Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: 'Status of application (accepted/rejected)'
                  example: vel
                  nullable: false
              required:
                - status
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the application.'
        example: 7
        required: true
        schema:
          type: integer
      -
        in: path
        name: application
        description: 'The ID of the application'
        example: 8
        required: true
        schema:
          type: integer
  '/api/gigs/{gig_id}/apply':
    post:
      summary: 'Apply to Gig'
      operationId: applyToGig
      description: 'Submit an application for a specific gig.'
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    proposal_message: 'I am interested in teaching this subject...'
                    status: pending
                    created_at: '2025-01-23 12:00:00'
                    updated_at: '2025-01-23 12:00:00'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      proposal_message:
                        type: string
                        example: 'I am interested in teaching this subject...'
                      status:
                        type: string
                        example: pending
                      created_at:
                        type: string
                        example: '2025-01-23 12:00:00'
                      updated_at:
                        type: string
                        example: '2025-01-23 12:00:00'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'This gig is not open for applications'
                properties:
                  message:
                    type: string
                    example: 'This gig is not open for applications'
      tags:
        - 'Application Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                proposal_message:
                  type: string
                  description: 'The application proposal text min:50 characters'
                  example: cupiditate
                  nullable: false
              required:
                - proposal_message
    parameters:
      -
        in: path
        name: gig_id
        description: 'The ID of the gig.'
        example: 46
        required: true
        schema:
          type: integer
      -
        in: path
        name: gig
        description: 'The ID of the gig'
        example: 7
        required: true
        schema:
          type: integer
  /api/tutor/applications:
    get:
      summary: 'Tutor Applications'
      operationId: tutorApplications
      description: 'Get all applications made by the authenticated tutor.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      proposal_message: 'Application details...'
                      status: pending
                      gig:
                        id: 1
                        title: 'Math Tutor Needed'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        proposal_message: 'Application details...'
                        status: pending
                        gig:
                          id: 1
                          title: 'Math Tutor Needed'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        proposal_message:
                          type: string
                          example: 'Application details...'
                        status:
                          type: string
                          example: pending
                        gig:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            title:
                              type: string
                              example: 'Math Tutor Needed'
      tags:
        - 'Application Management'
  '/api/gigs/{gig_id}/applications':
    get:
      summary: 'Gig Applications'
      operationId: gigApplications
      description: 'Get all applications for a specific gig (Learner only).'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      proposal_message: 'Application details...'
                      status: pending
                      tutor:
                        id: 1
                        name: 'John Doe'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        proposal_message: 'Application details...'
                        status: pending
                        tutor:
                          id: 1
                          name: 'John Doe'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        proposal_message:
                          type: string
                          example: 'Application details...'
                        status:
                          type: string
                          example: pending
                        tutor:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'John Doe'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthorized
                properties:
                  message:
                    type: string
                    example: Unauthorized
      tags:
        - 'Application Management'
    parameters:
      -
        in: path
        name: gig_id
        description: 'The ID of the gig.'
        example: 46
        required: true
        schema:
          type: integer
      -
        in: path
        name: gig
        description: 'The ID of the gig'
        example: 9
        required: true
        schema:
          type: integer
  /api/signup:
    post:
      summary: 'Register User'
      operationId: registerUser
      description: 'Create a new user account.'
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'User registered successfully'
                  user:
                    id: 1
                    name: 'John Doe'
                    email: john@example.com
                    phone_number: '1234567890'
                    user_type: tutor
                    location: 'New York'
                    profile_image: 'https://example.com/storage/profile_images/image.jpg'
                    created_at: '2025-03-18 12:00:00'
                    updated_at: '2025-03-18 12:00:00'
                    tutor_profile:
                      bio: ''
                      years_of_experience: 0
                      verification_status: pending
                      availability_status: available
                      profile_video: 'https://example.com/storage/profile_videos/video.mp4'
                properties:
                  message:
                    type: string
                    example: 'User registered successfully'
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: 'John Doe'
                      email:
                        type: string
                        example: john@example.com
                      phone_number:
                        type: string
                        example: '1234567890'
                      user_type:
                        type: string
                        example: tutor
                      location:
                        type: string
                        example: 'New York'
                      profile_image:
                        type: string
                        example: 'https://example.com/storage/profile_images/image.jpg'
                      created_at:
                        type: string
                        example: '2025-03-18 12:00:00'
                      updated_at:
                        type: string
                        example: '2025-03-18 12:00:00'
                      tutor_profile:
                        type: object
                        properties:
                          bio:
                            type: string
                            example: ''
                          years_of_experience:
                            type: integer
                            example: 0
                          verification_status:
                            type: string
                            example: pending
                          availability_status:
                            type: string
                            example: available
                          profile_video:
                            type: string
                            example: 'https://example.com/storage/profile_videos/video.mp4'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The email has already been taken.'
                  errors:
                    email:
                      - 'The email has already been taken.'
                properties:
                  message:
                    type: string
                    example: 'The email has already been taken.'
                  errors:
                    type: object
                    properties:
                      email:
                        type: array
                        example:
                          - 'The email has already been taken.'
                        items:
                          type: string
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "User's full name"
                  example: aliquid
                  nullable: false
                email:
                  type: string
                  description: "User's email address must be unique"
                  example: voconner@example.com
                  nullable: false
                password:
                  type: string
                  description: 'Minimum of 8 characters'
                  example: 'S;7nT*:C'
                  nullable: false
                phone_number:
                  type: string
                  description: 'Min 10 characters, valid phone number format'
                  example: velit
                  nullable: false
                user_type:
                  type: string
                  description: "Either 'tutor' or 'learner'"
                  example: dolores
                  nullable: false
                location:
                  type: string
                  description: "User's location"
                  example: enim
                  nullable: false
                profile_image:
                  type: string
                  format: binary
                  description: 'Profile image (jpeg, png, jpg) max 2MB'
                  nullable: false
                password_confirmation:
                  type: string
                  description: 'Must match password'
                  example: laudantium
                  nullable: false
                profile_video:
                  type: string
                  format: binary
                  description: 'optional Video file for tutor profiles only (mp4, mov, avi) max 20MB'
                  nullable: false
              required:
                - name
                - email
                - password
                - phone_number
                - user_type
                - location
                - profile_image
                - password_confirmation
      security: []
  /api/login:
    post:
      summary: 'User Login'
      operationId: userLogin
      description: 'Authenticate a user and get access token.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  token: 1|example-token-string
                  'authenticated user':
                    id: 1
                    name: 'John Doe'
                    email: john@example.com
                properties:
                  token:
                    type: string
                    example: 1|example-token-string
                  'authenticated user':
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: 'John Doe'
                      email:
                        type: string
                        example: john@example.com
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The provided credentials are incorrect'
                properties:
                  message:
                    type: string
                    example: 'The provided credentials are incorrect'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "User's email address"
                  example: zulauf.frederic@example.net
                  nullable: false
                password:
                  type: string
                  description: "User's password min:6"
                  example: '\V;bv*CArwk!te]m'
                  nullable: false
              required:
                - email
                - password
      security: []
  /api/logout:
    post:
      summary: 'Logout User'
      operationId: logoutUser
      description: "Invalidate user's access token."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You are Logged out Successfully'
                properties:
                  message:
                    type: string
                    example: 'You are Logged out Successfully'
      tags:
        - Authentication
  /api/categories:
    get:
      summary: 'List Categories'
      operationId: listCategories
      description: 'Get all available teaching categories.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: Mathematics
                      description: 'Math tutoring including calculus, algebra etc.'
                    -
                      id: 2
                      name: Languages
                      description: 'Language tutoring including English, French etc.'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: Mathematics
                        description: 'Math tutoring including calculus, algebra etc.'
                      -
                        id: 2
                        name: Languages
                        description: 'Language tutoring including English, French etc.'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Mathematics
                        description:
                          type: string
                          example: 'Math tutoring including calculus, algebra etc.'
      tags:
        - Categories
      security: []
  '/api/categories/{category_id}/tutors':
    get:
      summary: 'List Category Tutors'
      operationId: listCategoryTutors
      description: 'Get all tutors teaching in a specific category.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: 'John Doe'
                      tutor_profile:
                        bio: 'Experienced math tutor'
                        years_of_experience: 5
                        verification_status: verified
                      qualifications:
                        -
                          title: 'BSc Mathematics'
                          institution: MIT
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: 'John Doe'
                        tutor_profile:
                          bio: 'Experienced math tutor'
                          years_of_experience: 5
                          verification_status: verified
                        qualifications:
                          -
                            title: 'BSc Mathematics'
                            institution: MIT
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: 'John Doe'
                        tutor_profile:
                          type: object
                          properties:
                            bio:
                              type: string
                              example: 'Experienced math tutor'
                            years_of_experience:
                              type: integer
                              example: 5
                            verification_status:
                              type: string
                              example: verified
                        qualifications:
                          type: array
                          example:
                            -
                              title: 'BSc Mathematics'
                              institution: MIT
                          items:
                            type: object
                            properties:
                              title:
                                type: string
                                example: 'BSc Mathematics'
                              institution:
                                type: string
                                example: MIT
      tags:
        - Categories
      security: []
    parameters:
      -
        in: path
        name: category_id
        description: 'The ID of the category.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: category
        description: 'The ID of the category'
        example: 4
        required: true
        schema:
          type: integer
  /api/user:
    get:
      summary: 'Display the authenticated user'
      operationId: displayTheAuthenticatedUser
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/qualifications:
    get:
      summary: "List authenticated tutor's qualifications"
      operationId: listAuthenticatedTutorsQualifications
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    post:
      summary: 'Store new qualification for authenticated tutor'
      operationId: storeNewQualificationForAuthenticatedTutor
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: zrbglyhiq
                  nullable: false
                description:
                  type: string
                  description: 'Must not be greater than 1000 characters.'
                  example: 'Sequi recusandae qui ea minus.'
                  nullable: false
                institution:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: smnf
                  nullable: false
                year_obtained:
                  type: integer
                  description: 'Must be at least 1950. Must not be greater than 2025.'
                  example: 14
                  nullable: false
              required:
                - title
                - description
                - institution
                - year_obtained
      security: []
  '/api/qualifications/{id}':
    put:
      summary: "Update tutor's qualification"
      operationId: updateTutorsQualification
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: zpnukwhljiiecjnexbtjniq
                  nullable: false
                description:
                  type: string
                  description: 'Must not be greater than 1000 characters.'
                  example: 'Laudantium esse ut iusto quo quia fugit.'
                  nullable: false
                institution:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: rvobjgg
                  nullable: false
                year_obtained:
                  type: integer
                  description: 'Must be at least 1950. Must not be greater than 2025.'
                  example: 6
                  nullable: false
      security: []
    delete:
      summary: "Delete tutor's qualification"
      operationId: deleteTutorsQualification
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the qualification.'
        example: 1
        required: true
        schema:
          type: integer
  /api/gigs:
    get:
      summary: 'List All Gigs'
      operationId: listAllGigs
      description: 'Get a list of all available learning gigs. By default, pending gigs are excluded.'
      parameters:
        -
          in: query
          name: include
          description: "Specify which relationships to include in the response.\n            Multiple relationships can be comma-separated.\n            Available relationships: learner, category, applications"
          example: totam
          required: false
          schema:
            type: string
            description: "Specify which relationships to include in the response.\n            Multiple relationships can be comma-separated.\n            Available relationships: learner, category, applications"
            example: totam
            nullable: false
        -
          in: query
          name: search
          description: 'Search in gig title and description'
          example: vero
          required: false
          schema:
            type: string
            description: 'Search in gig title and description'
            example: vero
            nullable: false
        -
          in: query
          name: price
          description: 'Filter by price range (format: 1000-5000)'
          example: inventore
          required: false
          schema:
            type: string
            description: 'Filter by price range (format: 1000-5000)'
            example: inventore
            nullable: false
        -
          in: query
          name: budget_period
          description: 'Filter by budget period (hourly/daily/weekly/monthly)'
          example: sint
          required: false
          schema:
            type: string
            description: 'Filter by budget period (hourly/daily/weekly/monthly)'
            example: sint
            nullable: false
        -
          in: query
          name: category_id
          description: 'Filter gigs by category'
          example: 17
          required: false
          schema:
            type: integer
            description: 'Filter gigs by category'
            example: 17
            nullable: false
        -
          in: query
          name: status
          description: 'Filter by gig status (pending/open/in_progress/completed/cancelled)'
          example: officia
          required: false
          schema:
            type: string
            description: 'Filter by gig status (pending/open/in_progress/completed/cancelled)'
            example: officia
            nullable: false
        -
          in: query
          name: learner_id
          description: 'Filter gigs by the learner who created them'
          example: 19
          required: false
          schema:
            type: integer
            description: 'Filter gigs by the learner who created them'
            example: 19
            nullable: false
        -
          in: query
          name: include_pending
          description: 'Include pending gigs (default: false)'
          example: true
          required: false
          schema:
            type: boolean
            description: 'Include pending gigs (default: false)'
            example: true
            nullable: false
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      title: 'Need Math Tutor'
                      description: 'Looking for calculus tutor'
                      budget: 5000
                      budget_period: monthly
                      location: Online
                      status: open
                      learner:
                        id: 1
                        name: 'John Student'
                      category:
                        id: 1
                        name: Mathematics
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        title: 'Need Math Tutor'
                        description: 'Looking for calculus tutor'
                        budget: 5000
                        budget_period: monthly
                        location: Online
                        status: open
                        learner:
                          id: 1
                          name: 'John Student'
                        category:
                          id: 1
                          name: Mathematics
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        title:
                          type: string
                          example: 'Need Math Tutor'
                        description:
                          type: string
                          example: 'Looking for calculus tutor'
                        budget:
                          type: integer
                          example: 5000
                        budget_period:
                          type: string
                          example: monthly
                        location:
                          type: string
                          example: Online
                        status:
                          type: string
                          example: open
                        learner:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'John Student'
                        category:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: Mathematics
      tags:
        - Gigs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                search:
                  type: string
                  description: 'Must be at least 3 characters.'
                  example: civrhcrashpoumrdmpikbcqwxvrewgyeciiygkcbpckvkrpkzrnllmzpzwiujwymwrw
                  nullable: false
                price:
                  type: string
                  description: 'Must match the regex /^\d+-\d+$/.'
                  example: 47-94
                  nullable: false
                budget_period:
                  type: string
                  description: ''
                  example: daily
                  nullable: false
                  enum:
                    - hourly
                    - daily
                    - weekly
                    - monthly
                category_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the categories table.'
                  example: null
                  nullable: false
                status:
                  type: string
                  description: ''
                  example: in_progress
                  nullable: false
                  enum:
                    - pending
                    - open
                    - in_progress
                    - completed
                    - cancelled
                learner_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the users table.'
                  example: null
                  nullable: false
                include_pending:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
      security: []
    post:
      summary: 'Create Gig'
      operationId: createGig
      description: "Create a new gig in pending status (Learner only). The gig will not be visible to others\nuntil it is published."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    title: 'Need Math Tutor'
                    description: 'Looking for calculus tutor...'
                    budget: 5000
                    budget_period: monthly
                    location: Online
                    status: pending
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      title:
                        type: string
                        example: 'Need Math Tutor'
                      description:
                        type: string
                        example: 'Looking for calculus tutor...'
                      budget:
                        type: integer
                        example: 5000
                      budget_period:
                        type: string
                        example: monthly
                      location:
                        type: string
                        example: Online
                      status:
                        type: string
                        example: pending
      tags:
        - Gigs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  type: integer
                  description: 'Valid category ID'
                  example: 5
                  nullable: false
                title:
                  type: string
                  description: 'Gig title min:10 characters'
                  example: temporibus
                  nullable: false
                description:
                  type: string
                  description: 'Detailed description min:50 characters'
                  example: 'Omnis velit ipsam omnis.'
                  nullable: false
                budget_period:
                  type: string
                  description: 'Budget time period (hourly/daily/weekly/monthly)'
                  example: esse
                  nullable: false
                budget:
                  type: numeric
                  description: 'Minimum amount 1000'
                  example: dolores
                  nullable: false
                location:
                  type: string
                  description: 'Preferred learning location'
                  example: quam
                  nullable: false
                status:
                  type: string
                  description: 'Status of the gig (defaults to pending)'
                  example: quasi
                  nullable: false
              required:
                - category_id
                - title
                - description
                - budget_period
                - budget
                - location
  '/api/gigs/{gig_id}':
    get:
      summary: 'Get Gig Details'
      operationId: getGigDetails
      description: 'Get detailed information about a specific gig.'
      parameters:
        -
          in: query
          name: include
          description: 'Relationships to include (learner,category,applications)'
          example: fugit
          required: false
          schema:
            type: string
            description: 'Relationships to include (learner,category,applications)'
            example: fugit
            nullable: false
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    title: 'Need Math Tutor'
                    description: 'Looking for calculus tutor'
                    budget: 5000
                    budget_period: monthly
                    location: Online
                    status: pending
                    learner:
                      id: 1
                      name: 'John Student'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      title:
                        type: string
                        example: 'Need Math Tutor'
                      description:
                        type: string
                        example: 'Looking for calculus tutor'
                      budget:
                        type: integer
                        example: 5000
                      budget_period:
                        type: string
                        example: monthly
                      location:
                        type: string
                        example: Online
                      status:
                        type: string
                        example: pending
                      learner:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'John Student'
      tags:
        - Gigs
      security: []
    patch:
      summary: 'Update Gig'
      operationId: updateGig
      description: 'Update an existing gig (Gig owner only).'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    title: 'Updated Math Tutor'
                    description: 'Updated description...'
                    budget: 6000
                    budget_period: weekly
                    location: Online
                    status: pending
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      title:
                        type: string
                        example: 'Updated Math Tutor'
                      description:
                        type: string
                        example: 'Updated description...'
                      budget:
                        type: integer
                        example: 6000
                      budget_period:
                        type: string
                        example: weekly
                      location:
                        type: string
                        example: Online
                      status:
                        type: string
                        example: pending
      tags:
        - Gigs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  type: integer
                  description: 'Valid category ID'
                  example: 6
                  nullable: false
                title:
                  type: string
                  description: 'Gig title min:10 characters'
                  example: quasi
                  nullable: false
                description:
                  type: string
                  description: 'Detailed description min:50 characters'
                  example: 'Voluptatem quia aliquid dolorum ullam aut ab.'
                  nullable: false
                budget_period:
                  type: string
                  description: 'Budget time period (hourly/daily/weekly/monthly)'
                  example: sed
                  nullable: false
                budget:
                  type: numeric
                  description: 'Minimum amount 1000'
                  example: earum
                  nullable: false
                location:
                  type: string
                  description: 'Preferred learning location'
                  example: ut
                  nullable: false
                status:
                  type: string
                  description: 'Status of the gig (pending/open/completed/cancelled)'
                  example: ut
                  nullable: false
              required:
                - category_id
                - title
                - description
                - budget_period
                - budget
                - location
    delete:
      summary: 'Delete Gig'
      operationId: deleteGig
      description: 'Delete a gig (Gig owner only).'
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Gigs
    parameters:
      -
        in: path
        name: gig_id
        description: 'The ID of the gig.'
        example: 46
        required: true
        schema:
          type: integer
      -
        in: path
        name: gig
        description: 'The ID of the gig'
        example: 13
        required: true
        schema:
          type: integer
  '/api/gigs/{gig_id}/publish':
    patch:
      summary: 'Publish Gig'
      operationId: publishGig
      description: "Change a gig's status from pending to open, making it publicly available (Gig owner only)."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    title: 'Need Math Tutor'
                    description: 'Looking for calculus tutor...'
                    budget: 5000
                    budget_period: monthly
                    location: Online
                    status: open
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      title:
                        type: string
                        example: 'Need Math Tutor'
                      description:
                        type: string
                        example: 'Looking for calculus tutor...'
                      budget:
                        type: integer
                        example: 5000
                      budget_period:
                        type: string
                        example: monthly
                      location:
                        type: string
                        example: Online
                      status:
                        type: string
                        example: open
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Only pending gigs can be published'
                properties:
                  message:
                    type: string
                    example: 'Only pending gigs can be published'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You are not authorized to publish this gig'
                properties:
                  message:
                    type: string
                    example: 'You are not authorized to publish this gig'
      tags:
        - Gigs
    parameters:
      -
        in: path
        name: gig_id
        description: 'The ID of the gig.'
        example: 46
        required: true
        schema:
          type: integer
      -
        in: path
        name: gig
        description: 'The ID of the gig'
        example: 3
        required: true
        schema:
          type: integer
  '/api/gigs/{gig_id}/unpublish':
    patch:
      summary: 'Unpublish Gig'
      operationId: unpublishGig
      description: "Change a gig's status from open to pending, making it private (Gig owner only)."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    title: 'Need Math Tutor'
                    description: 'Looking for calculus tutor...'
                    budget: 5000
                    budget_period: monthly
                    location: Online
                    status: pending
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      title:
                        type: string
                        example: 'Need Math Tutor'
                      description:
                        type: string
                        example: 'Looking for calculus tutor...'
                      budget:
                        type: integer
                        example: 5000
                      budget_period:
                        type: string
                        example: monthly
                      location:
                        type: string
                        example: Online
                      status:
                        type: string
                        example: pending
      tags:
        - Gigs
    parameters:
      -
        in: path
        name: gig_id
        description: 'The ID of the gig.'
        example: 46
        required: true
        schema:
          type: integer
      -
        in: path
        name: gig
        description: 'The ID of the gig'
        example: 16
        required: true
        schema:
          type: integer
  /api/tutor/categories:
    get:
      summary: 'List Teaching Categories'
      operationId: listTeachingCategories
      description: 'Get all categories the authenticated tutor teaches.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: Mathematics
                      description: 'Math tutoring'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: Mathematics
                        description: 'Math tutoring'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Mathematics
                        description:
                          type: string
                          example: 'Math tutoring'
      tags:
        - 'Tutor Categories'
    post:
      summary: 'Add Teaching Categories'
      operationId: addTeachingCategories
      description: 'Add categories that the tutor can teach.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Categories added successfully'
                  data:
                    -
                      id: 1
                      name: Mathematics
                properties:
                  message:
                    type: string
                    example: 'Categories added successfully'
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: Mathematics
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Mathematics
      tags:
        - 'Tutor Categories'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category_ids:
                  type: array
                  description: 'List of category IDs'
                  example:
                    - alias
                  items:
                    type: string
              required:
                - category_ids
  '/api/tutor/categories/{category_id}':
    delete:
      summary: 'Remove Teaching Category'
      operationId: removeTeachingCategory
      description: "Remove a category from tutor's teaching list."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Category removed successfully'
                properties:
                  message:
                    type: string
                    example: 'Category removed successfully'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Category not found in your teaching list'
                properties:
                  message:
                    type: string
                    example: 'Category not found in your teaching list'
      tags:
        - 'Tutor Categories'
    parameters:
      -
        in: path
        name: category_id
        description: 'The ID of the category.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: category
        description: 'The ID of the category'
        example: 4
        required: true
        schema:
          type: integer
  /api/tutor-profile:
    get:
      summary: 'Get Profile'
      operationId: getProfile
      description: "Get authenticated tutor's profile details."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    bio: 'Experienced math tutor'
                    years_of_experience: 5
                    verification_status: pending
                    availability_status: available
                properties:
                  data:
                    type: object
                    properties:
                      bio:
                        type: string
                        example: 'Experienced math tutor'
                      years_of_experience:
                        type: integer
                        example: 5
                      verification_status:
                        type: string
                        example: pending
                      availability_status:
                        type: string
                        example: available
      tags:
        - 'Tutor Profile Management'
    patch:
      summary: 'Update Profile'
      operationId: updateProfile
      description: 'Update tutor profile details.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    bio: 'Updated tutor bio'
                    years_of_experience: 6
                    verification_status: pending
                    availability_status: available
                properties:
                  data:
                    type: object
                    properties:
                      bio:
                        type: string
                        example: 'Updated tutor bio'
                      years_of_experience:
                        type: integer
                        example: 6
                      verification_status:
                        type: string
                        example: pending
                      availability_status:
                        type: string
                        example: available
      tags:
        - 'Tutor Profile Management'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                bio:
                  type: string
                  description: 'Detailed bio min:50 characters'
                  example: qui
                  nullable: false
                years_of_experience:
                  type: integer
                  description: 'Years of teaching experience'
                  example: 17
                  nullable: false
                availability_status:
                  type: string
                  description: "Tutor's availability (available/busy)"
                  example: id
                  nullable: false
                profile_video:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 20480 kilobytes.'
                  nullable: false
              required:
                - bio
                - years_of_experience
  '/api/tutors/{userId}/verify':
    patch:
      summary: 'Verify Tutor'
      operationId: verifyTutor
      description: "Update tutor's verification status."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    name: 'John Doe'
                    tutor_profile:
                      verification_status: verified
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: 'John Doe'
                      tutor_profile:
                        type: object
                        properties:
                          verification_status:
                            type: string
                            example: verified
      tags:
        - 'Tutor Profile Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                verification_status:
                  type: string
                  description: 'Status (verified/rejected)'
                  example: veritatis
                  nullable: false
              required:
                - verification_status
    parameters:
      -
        in: path
        name: userId
        description: 'The ID of the tutor'
        example: 1
        required: true
        schema:
          type: integer
  /api/tutors:
    get:
      summary: 'List All Tutors'
      operationId: listAllTutors
      description: 'Get a list of all available tutors with optional filters.'
      parameters:
        -
          in: query
          name: search
          description: 'Search tutors by name or bio.'
          example: mathematics
          required: false
          schema:
            type: string
            description: 'Search tutors by name or bio.'
            example: mathematics
            nullable: false
        -
          in: query
          name: category_id
          description: 'Filter tutors by teaching category.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filter tutors by teaching category.'
            example: 1
            nullable: false
        -
          in: query
          name: available
          description: 'Filter by availability status (available/busy).'
          example: available
          required: false
          schema:
            type: string
            description: 'Filter by availability status (available/busy).'
            example: available
            nullable: false
        -
          in: query
          name: include
          description: "Specify which relationships to include in the response.\n            Multiple relationships can be comma-separated.\n            Available: tutorProfile, categories, qualifications, applications"
          example: 'include=tutorProfile,categories'
          required: false
          schema:
            type: string
            description: "Specify which relationships to include in the response.\n            Multiple relationships can be comma-separated.\n            Available: tutorProfile, categories, qualifications, applications"
            example: 'include=tutorProfile,categories'
            nullable: false
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: 'John Doe'
                      email: john@example.com
                      phone_number: '+254700000000'
                      whatsapp_number: '+254700000000'
                      user_type: tutor
                      location: Nairobi
                      profile_image: path/to/image.jpg
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: 'John Doe'
                        email: john@example.com
                        phone_number: '+254700000000'
                        whatsapp_number: '+254700000000'
                        user_type: tutor
                        location: Nairobi
                        profile_image: path/to/image.jpg
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: 'John Doe'
                        email:
                          type: string
                          example: john@example.com
                        phone_number:
                          type: string
                          example: '+254700000000'
                        whatsapp_number:
                          type: string
                          example: '+254700000000'
                        user_type:
                          type: string
                          example: tutor
                        location:
                          type: string
                          example: Nairobi
                        profile_image:
                          type: string
                          example: path/to/image.jpg
      tags:
        - Tutors
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                search:
                  type: string
                  description: 'Must be at least 3 characters.'
                  example: hwhbcvasaksslmiireumjocyxfbgkdvsowpjjbiauqaclgjtphfwzvggmpvhobbocusndmirlvoupvme
                  nullable: false
                category_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the categories table.'
                  example: null
                  nullable: false
                available:
                  type: string
                  description: ''
                  example: busy
                  nullable: false
                  enum:
                    - available
                    - busy
                include:
                  type: string
                  description: ''
                  example: possimus
                  nullable: false
      security: []
  '/api/tutors/{id}':
    get:
      summary: 'Get Tutor Details'
      operationId: getTutorDetails
      description: 'Get detailed public profile information of a specific tutor.'
      parameters:
        -
          in: query
          name: include
          description: "Specify which relationships to include in the response.\n            Multiple relationships can be comma-separated.\n            Available: tutorProfile, categories, qualifications, applications"
          example: 'include=tutorProfile,categories'
          required: false
          schema:
            type: string
            description: "Specify which relationships to include in the response.\n            Multiple relationships can be comma-separated.\n            Available: tutorProfile, categories, qualifications, applications"
            example: 'include=tutorProfile,categories'
            nullable: false
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    name: 'John Doe'
                    email: john@example.com
                    phone_number: '+254700000000'
                    whatsapp_number: '+254700000000'
                    user_type: tutor
                    location: Nairobi
                    profile_image: path/to/image.jpg
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: 'John Doe'
                      email:
                        type: string
                        example: john@example.com
                      phone_number:
                        type: string
                        example: '+254700000000'
                      whatsapp_number:
                        type: string
                        example: '+254700000000'
                      user_type:
                        type: string
                        example: tutor
                      location:
                        type: string
                        example: Nairobi
                      profile_image:
                        type: string
                        example: path/to/image.jpg
      tags:
        - Tutors
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the tutor.'
        example: 1
        required: true
        schema:
          type: integer
tags:
  -
    name: 'Application Management'
    description: "\nAPIs for managing gig applications"
  -
    name: Authentication
    description: "\nAPIs for managing athentication"
  -
    name: Categories
    description: "\nAPIs for managing teaching/learning categories"
  -
    name: Endpoints
    description: ''
  -
    name: Gigs
    description: "\nAPIs for managing learning gigs"
  -
    name: 'Tutor Categories'
    description: "\nAPIs for managing tutor's teaching categories"
  -
    name: 'Tutor Profile Management'
    description: "\nAPIs for managing tutor profiles"
  -
    name: Tutors
    description: "\nAPIs for discovering and viewing tutor profiles"
